.new_client_wrap .card{background-color: transparent;}
.new_client_wrap .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: separate;
    border-spacing: 0px 11px;
}
.new_client_wrap .table th,
.new_client_wrap .table thead th,
.new_client_wrap .table td{border: none;text-align: center;}
.new_client_wrap .table th:first-child,
.new_client_wrap .table thead th:first-child,
.new_client_wrap .table td:first-child{border: none;text-align: right;}
.new_client_wrap .table th:last-child,
.new_client_wrap .table thead th:last-child,
.new_client_wrap .table td:last-child{border: none;text-align: left;}
.new_client_wrap tbody td{background-color: #fff;}
.new_client_wrap .table tr{margin-bottom: 10px;}
.new_client_wrap .custom_checkbox {
    display: block;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 !important;
}
.float-right.hibru{
    float: left !important;
}
.new_client_wrap .custom_checkbox input {
    opacity: 0;
    position: absolute;
    margin: 0;
    left: 13px;
    top: 7px;
}

.new_client_wrap .custom_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #a8a8a8;
}
.new_client_wrap .custom_checkbox .checkmark::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 13px;
    left: 6px;
    top: 1px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: scale(0) rotate(45deg);
    transition: 0.5s all;            
}
.new_client_wrap .custom_checkbox  input:checked ~ .checkmark{
    background-color: #038fcd;
    border-color: #038fcd;
}
.new_client_wrap .custom_checkbox  input:checked ~ .checkmark:after {transform:scale(1) rotate(45deg);}
.new_client_wrap .last_field {float: none;}
.new_client_wrap .last_field span, .last_field img, .last_field .custom_checkbox {margin: 0 7px;}
.new_client_wrap .table-responsive{}

.new_client_wrap .btn-success {
    color: #fff;
    background-color:#54c242;
    border-color:#54c242;
}
.new_client_wrap .btn-success:hover {
    color: #fff;
    background-color:#54c242;
    border-color:#54c242;
}
.new_client_wrap .table td, .new_client_wrap .table th {
    vertical-align: middle;
}
.table-loader img {
    width: 30px;
    margin-left : 10px;
}

.info-panel {
    margin-bottom: 45px;
  }
  .info-panel .panel {
    display: flex;
    flex-direction: row-reverse;
  }
  .info-panel .panel div {
    width: calc(100% / 7);
  }
  .info-panel .panel .white-panel {
    background: #fff;
  }
  .info-panel .panel .gray-panel {
    background: #e0e0e0;
    max-width: 200px;
    text-align: left;
  }
  .info-panel .panel.panel-name {
    flex-direction: row-reverse;
  }
  .info-panel .panel.panel-name .white-panel,
  .info-panel .panel.panel-name .gray-panel {
    padding: 10px;
  }
  .info-panel .panel.panel-name .white-panel{
    width: calc((100% / 7) * 6);
  }
  .info-panel .panel.panel-name .gray-panel{
    width: calc((100% / 7) * 1);
  }
  .info-panel .panel .white-panel,
  .info-panel .panel .gray-panel {
    padding: 5px;
    border: 1px solid #c6c6c6;
  }
  .info-panel .panel .white-panel:first-child,
  .info-panel .panel .gray-panel:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .info-panel .panel .white-panel:last-child,
  .info-panel .panel .gray-panel:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
.new_client_wrap .table-responsive{border-top: 2px solid #ccc;}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    max-width: 100%;
    padding-left: 20px;
        max-height: 50px;
}

table tr th h3,.set_font_bold,
table tr th {
  font-weight: 700;
  font-size: 1.5rem;
}
.bootstrap-tagsinput{
  display: block !important;
  padding: .375rem .75rem !important;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-new {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.model-view {
  position: relative;
 /* max-width: 1100px;*/
margin: auto;
}
/* Modal Content (image) */
.modal-content-new {
  margin: auto;
  display: block;
  width: 90%;
 /* max-width: 700px;*/
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-new, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close-icon {
  position: absolute;
  top: -50px;
  right: 50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-icon:hover,
.close-icon:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.set_text{
  text-align: center;
  display: inline-block;
}
.get_captcha{
  white-space: nowrap;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content-new {
    width: 100%;
  }
}
.width-45{
  width: 45px;
}
#json_data{
  direction: ltr;
  text-align: left;
}